@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    background-color: rgb(206, 211, 214);
}

main{
    background-color: white;
    max-width: 800px;
    margin: 100px auto 0px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.473);
}

header{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}

label{
display: block;
color: brown;
font-weight: 600;

}

input{
    display: block;
    width:100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: rgb(213, 221, 228);
    border: 1px solid #cccccc;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

button{
    width: 100%;
    padding: 10px;
    background-color: rgb(102, 21, 21);
    border-radius: 40px;
    color: #cccccc;
    font-weight: 600;
    border: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
color:rgb(102, 21, 21);
border: 2px solid rgb(102, 21, 21);
background-color: transparent;
box-shadow: 0px 8px 8px 0px  rgba(0, 0, 0, 0.2);
}